@import '~bulma/sass/utilities/initial-variables';

// TODO: https://github.com/postcss/autoprefixer
// TODO: Only include what is needed to reduce bundle size.
// https://bulma.io/documentation/overview/modular/
// https://github.com/stipsan/bulma-loader

// $blue: #72d0eb
// $pink: #ffb3b3
// $pink-invert: #fff
// $family-serif: 'Merriweather', 'Georgia', serif

// $primary: $pink
// $primary-invert: $pink-invert
// $danger: $orange
// $family-primary: $family-serif

$fa-font-path: '../../node_modules/font-awesome/fonts';

@import '~font-awesome/scss/font-awesome';
@import '~bulma/bulma';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex: 1;
}
